<form action="/add_students" method="post">
    <h2>Edit Studnet</h2>
    <div class="input-field">

        <lable>Lastname</lable>
        <input type="text" name="Lastname">


        <lable>Name</lable>
        <input type="text" name="Name" >


        <lable>Surname</lable>
        <input type="text" name="Surname">
         
        <button type="submit"  class="btn confirm">Confirm</button>
    </div>
 </form>
    <button class="btn cancel" onclick="window.location.href='/students'" >Cancel</button>